HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
target/
!.mvn/wrapper/maven-wrapper.jar

### BUILD ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
bin/
doc/
target/
out/
.DS_Store
